* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    color:black;
    font-family: Arial, Helvetica, sans-serif;   
}

/*Global Tags*/

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

header {
    width: 100%;
    background: rgb(236, 236, 241);
}

.header-container {
    width: 100%;
    height: 100px;
    background-color: rgb(236, 236, 241);
    display: flex;
    align-items: center;
    padding: 1vw 8vw;
}

.header-container img {
    display: flex;
    width: 80px;
    cursor: pointer;
}

.header-container ul {
    display: flex;
}


.header-container li a {
    display: block;
    list-style: none;
    padding: 20px;
    list-style: none;
    margin-left: 30px;
    color: black;
    text-decoration: none;
}

.header-container i {
    list-style: none;
    margin-left: 30px;
    color: black;
}


.header-container li a:hover {
    font-size: 18px;
    font-weight: 500;
    color: white;
    cursor: pointer;
}

#btn-menu {
    display: none;
    justify-content: flex-end;
}

header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-left: 1px solid white;
}


header label:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
}


/*home*/

#home {
    background-image: url("./assets/IMG_3634.JPG");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items:center;
    text-align: center;

}

#home h2 {
    color: #fff;
    font-size: 6rem;
    letter-spacing: 1px;

}

#home p {
    width: 50%;
    color: #fff;
    font-size: 1rem;
    line-height: 25px;
}

.newsletter-email {
    background-color: black;
    display: flex;
    flex-direction: row;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    padding: 35px 35px;
    font-weight: 600;
    text-align: left;
}

.newsletter-submit {
    margin: 5px 10px;
}

.newsletter-submit a {
    padding: 10px;
    color: white;
    font-size: 0.9rem;
    margin-left: 10px;
    background: rgb(255, 194, 80);
    border-radius: 2px;
}


/*catalogo*/

#catalogo-iconos{
    padding: 10vh;
    justify-content: space-between;
}

#catalogo-iconos:hover{
    cursor: pointer;
}

#catalogo {
    padding: 30px;
    text-align: center;
}

.catalogo-cards {
    display: flex;
    justify-content: center;
}

.card {
    background-color: rgb(238, 235, 235);
    width: 100%;
}

.card-image {
    background-color: black;
    height: 200px;
    margin-bottom: 15px;
    background-size: cover;
}

.coat-1 {
    background-image: url('./assets/coat1.jpg')
}

.coat-2 {
    background-image: url('./assets/coat2.jpg')
}

.coat-3 {
    background-image: url('./assets/coat3.jpg')
}

.coat-4 {
    background-image: url('./assets/coat4.jpg');
}

.card h3{
    padding: 10px;
    display: block;
    text-align: center;
}

.card p {
    padding: 5px;
    display: block;
    text-align: center;
    color: rgb(155, 155, 155);
}

ul{
    list-style: none;
}

#extra {
    display: flex;
    background-color: rgb(255, 194, 80);
    width: 100%;
    height: 300px;
    color: white;
    font-size: 100px;
    line-height: 300px;
    text-align: center;
}


#footer {
    padding: 8vw;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

#footer {
    list-style: none;
    cursor: pointer;
}


/* responsive design */

@media (max-width: 768px) {

    header label {
        display: block;
    }

    .header-container {
        background: rgb(236, 236, 241);
        width: 60%;
        height: auto;
        margin-left: -60%;
        position: absolute;
        transition: all 0.3s;
    }

    .header-container img {
        display: none;
    }

    #catalogo-iconos{
        flex-direction: column;
    }
    .header-container ul {
        flex-direction: column;
    }

    .header-container li {
        border-top: 1px solid white;

    }

    #btn-menu:checked ~ .header-container {
        margin: 0;
    }

    .catalogo-cards {
        flex-direction: column;
    }
}